<a href="https://colab.research.google.com/github/zinebzannouti/AWS-Breast-Cancer-Prediction/blob/main/2-Handling%20Missing%20Data/Exercices%20et%20Solutions/Exercices_et_solutions_Handling_missing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercice 1 :**    
- Écrivez un programme Pandas pour détecter les valeurs manquantes d'un DataFrame donné.
- Afficher Vrai ou Faux.

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)
df = pd.DataFrame({
'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:

print("Original Orders DataFrame:")
print(df)
print("\nMissing values of the said dataframe:")
print(df.isna())


-->

**Exercice 2 :**

- Écrivez un programme Pandas pour identifier la ou les colonnes de DataFrame  qui ont au moins une valeur manquante.

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:

print("Original Orders DataFrame:")
print(df)
print("\nIdentify the columns which have at least one missing value:")
print(df.isna().any())


-->

**Exercice 3 :**   
- Écrivez un programme Pandas pour compter le nombre de valeurs manquantes dans chaque colonne d'un DataFrame.

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
print("Original Orders DataFrame:")
print(df)
print("\nNumber of missing values of the said dataframe:")
print(df.isna().sum())

-->

**Exercice 4 :**     
- Écrivez un programme Pandas pour rechercher et remplacer les valeurs manquantes dans un DataFrame  qui ne contiennent aucune information précieuse.

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
print("Original Orders DataFrame:")
print(df)
print("\nReplace the missing values with NaN:")
result = df.replace({"?": np.nan, "--": np.nan})
print(result)
-->

**Exercice 5:**   
- Écrivez un programme Pandas pour supprimer les lignes où au moins un élément manque dans un DataFrame.

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
print("Original Orders DataFrame:")
print(df)
print("\nDrop the rows where at least one element is missing:")
result = df.dropna()
print(result)
-->

**Exercice 6:**

- Écrivez un programme Pandas pour supprimer les colonnes où au moins un élément manque dans un DataFrame.

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
print("Original Orders DataFrame:")
print(df)
print("\nDrop the columns where at least one element is missing:")
result = df.dropna(axis='columns')
print(result)
-->

**Exercice 7:**
- Écrivez un programme Pandas pour supprimer les lignes où tous les éléments manquent dans un DataFrame .

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
print("Original Orders DataFrame:")
print(df)
print("\nDrop the rows where all elements are missing:")
result = df.dropna(how='all')
print(result)
-->

**Exercice 8:**
- Écrivez un programme Pandas pour conserver les lignes avec au moins 2 valeurs NaN dans un DataFrame.

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
print("Original Orders DataFrame:")
print(df)
print("\nKeep the rows with at least 2 NaN values of the said DataFrame:")
result = df.dropna(thresh=2)
print(result)
-->

**Exercice 9:**
- Écrivez un programme Pandas pour supprimer ces lignes d'un DataFrame dans lequel des colonnes spécifiques ont des valeurs manquantes.

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
print("Original Orders DataFrame:")
print(df)
print("\nDrop those rows in which specific columns have missing values:")
result = df.dropna(subset=['ord_no','ord_date' , 'salesman_id'])
print(result)
-->

**Exercice 10:**
- Écrivez un programme Pandas pour conserver les entrées valides d'un DataFrame.

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
print("Original Orders DataFrame:")
print(df)
print("\nKeep the said DataFrame with valid entries:")
result = df.dropna(inplace=False)
print(result)
-->

**Exercice 11 :**
- Écrivez un programme Pandas pour calculer le nombre total de valeurs manquantes dans un DataFrame.

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
print("Original Orders DataFrame:")
print(df)
print("\nTotal number of missing values of the said DataFrame:")
result = df.isna().sum().sum()
print(result)
-->

**Exercice 12:**
- Écrivez un programme Pandas pour remplacer NaNs par une seule valeur constante dans des colonnes spécifiées dans un DataFrame.

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
print("Original Orders DataFrame:")
print(df)
print("\nReplace NaNs with a single constant value:")
result = df['ord_no'].fillna(0, inplace=False)
print(result))
-->

**Exercice 13:**
- Écrivez un programme Pandas pour remplacer NaNs par la valeur de la ligne précédente ou de la ligne suivante dans un DataFrame.

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
print("Original Orders DataFrame:")
print(df)
print("\nReplacing NaNs with the value from the previous row (purch_amt):")
df['purch_amt'].fillna(method='pad', inplace=True)
print(df)
print("\nReplacing NaNs with the value from the next row (sale_amt):")
df['sale_amt'].fillna(method='bfill', inplace=True)
print(df)
-->

**Exercice 14:**
- Écrivez un programme Pandas pour remplacer les NaN par la médiane ou la moyenne des colonnes spécifiées dans un DataFrame.

In [7]:
pd.set_option('display.max_rows', None)
df = pd.DataFrame({
'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[150.5,np.nan,65.26,110.5,948.5,np.nan,5760,1983.43,np.nan,250.45, 75.29,3045.6],
'sale_amt':[10.5,20.65,np.nan,11.5,98.5,np.nan,57,19.43,np.nan,25.45, 75.29,35.6],
'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
print("Original Orders DataFrame:")
print(df)
print("Using median in purch_amt to replace NaN:")
df['purch_amt'].fillna(df['purch_amt'].median(), inplace=True)
print(df)
print("Using mean to replace NaN:")
df['sale_amt'].fillna(int(df['sale_amt'].mean()), inplace=True)
print(df)
-->